In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [3]:
# Load the source data file and read and display it with Pandas

movie_data = Path("English_Movies_Data.csv")
movie_data_df = pd.read_csv(movie_data)
movie_data_df

,Name,Date,Score,Genre,Language,Budget,Revenue,Profit,History,Animation,...,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,The Passion of the Christ,2004-02-25,74.0,Drama,English,25000000.0,6.223136e+08,5.973136e+08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,John Wick: Chapter 2,2017-05-18,73.0,"Action,Thriller,Crime",English,40000000.0,1.715399e+08,1.315399e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,John Wick: Chapter 3 - Parabellum,2019-05-16,74.0,"Action,Thriller,Crime",English,55000000.0,3.267097e+08,2.717097e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,A Bronx Tale,1994-05-20,78.0,"Drama,Crime",English,10000000.0,1.728790e+07,7.287898e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Avatar,2009-12-17,76.0,"Action,Adventure,Fantasy,Science Fiction",English,237000000.0,2.923706e+09,2.686706e+09,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,The Love Guru,2008-07-10,42.0,"Comedy,Romance",English,62000000.0,4.015902e+07,-2.184098e+07,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,20th Century Women,2016-12-28,73.0,Drama,English,7000000.0,9.353729e+06,2.353729e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4772,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,English,9145817.8,6.698361e+06,-2.447457e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4773,The Russia House,1990-12-21,61.0,"Drama,Thriller,Romance",English,21800000.0,2.299799e+07,1.197992e+06,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4774,Darkman II: The Return of Durant,1995-07-11,55.0,"Action,Adventure,Science Fiction,Thriller,Horror",English,116000000.0,4.756613e+08,3.596613e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#Retrieve the column headers to build the list of genres

column_headers = movie_data_df.columns

print(column_headers)

Index(['Name', 'Date', 'Score', 'Genre', 'Language', 'Budget', 'Revenue',
       'Profit', 'History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie'],
      dtype='object')

In [19]:
# Define the columns to search for the value 1
columns_to_search = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']

# Specify the column from which to replace the value
replacement_column = 'Revenue'

# Iterate over the rows and columns to find and replace the value
for index, row in movie_data_df.iterrows():
    for col in columns_to_search:
        if row[col] == 1:
            movie_data_df.at[index, col] = row[replacement_column]

In [20]:
# Define the columns to sum up
# columns_to_sum = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
#        'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
#        'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
#        'TV Movie']

sum_column_History = movie_data_df['History'].sum()
sum_column_Animation = movie_data_df['Animation'].sum()
sum_column_Horror = movie_data_df['Horror'].sum()
sum_column_Crime = movie_data_df['Crime'].sum()
sum_column_Documentary = movie_data_df['Documentary'].sum()
sum_column_Comedy = movie_data_df['Comedy'].sum()
sum_column_Adventure = movie_data_df['Adventure'].sum()
sum_column_Family = movie_data_df['Family'].sum()
sum_column_Science_Fiction = movie_data_df['Science Fiction'].sum()
sum_column_Music = movie_data_df['Music'].sum()
sum_column_Romance = movie_data_df['Romance'].sum()
sum_column_Fantasy = movie_data_df['Fantasy'].sum()
sum_column_Thriller = movie_data_df['Thriller'].sum()
sum_column_Action = movie_data_df['Action'].sum()
sum_column_War = movie_data_df['War'].sum()
sum_column_Mystery = movie_data_df['Mystery'].sum()
sum_column_Western = movie_data_df['Western'].sum()
sum_column_Drama = movie_data_df['Drama'].sum()
sum_column_TVMovie = movie_data_df['TV Movie'].sum()

print(
    sum_column_History,
    sum_column_Animation, 
    sum_column_Horror, 
    sum_column_Crime, 
    sum_column_Documentary, 
    sum_column_Comedy, 
    sum_column_Adventure,
    sum_column_Family,
    sum_column_Science_Fiction,
    sum_column_Music,
    sum_column_Romance,
    sum_column_Fantasy,
    sum_column_Thriller,
    sum_column_Action,
    sum_column_War,
    sum_column_Mystery,
    sum_column_Western,
    sum_column_Drama,
    sum_column_TVMovie)

33129242639.8 232251731857.8 127216214556.4 85835410578.0 38971176297.200005 313075912230.7999 316179291295.0 256880362060.59998 185806245856.6 31030424130.199997 100820443763.8 189537292009.40002 220216506476.0 340080965865.60004 22826338762.8 91322887816.8 7923841589.6 261498812527.99997 59708687732.600006

In [ ]:
#Establish variables for the pie chart

labels = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']
    
# The values of each section of the pie chart
sizes = []

# The colors of each section of the pie chart
colors = []

# Tells matplotlib to separate the "Humans" section from the others
explode = ()