In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

In [2]:
# Load the source data file and read and display it with Pandas

movie_data = Path("English_Movies_Data.csv")
movie_data_df = pd.read_csv(movie_data)
movie_data_df

,Name,Date,Score,Genre,Language,Budget,Revenue,Profit,History,Animation,...,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,The Passion of the Christ,2004-02-25,74.0,Drama,English,25000000.0,6.223136e+08,5.973136e+08,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,John Wick: Chapter 2,2017-05-18,73.0,"Action,Thriller,Crime",English,40000000.0,1.715399e+08,1.315399e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,John Wick: Chapter 3 - Parabellum,2019-05-16,74.0,"Action,Thriller,Crime",English,55000000.0,3.267097e+08,2.717097e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,A Bronx Tale,1994-05-20,78.0,"Drama,Crime",English,10000000.0,1.728790e+07,7.287898e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,Avatar,2009-12-17,76.0,"Action,Adventure,Fantasy,Science Fiction",English,237000000.0,2.923706e+09,2.686706e+09,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,The Love Guru,2008-07-10,42.0,"Comedy,Romance",English,62000000.0,4.015902e+07,-2.184098e+07,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,20th Century Women,2016-12-28,73.0,Drama,English,7000000.0,9.353729e+06,2.353729e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4772,Delta Force 2: The Colombian Connection,1990-08-24,54.0,Action,English,9145817.8,6.698361e+06,-2.447457e+06,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4773,The Russia House,1990-12-21,61.0,"Drama,Thriller,Romance",English,21800000.0,2.299799e+07,1.197992e+06,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4774,Darkman II: The Return of Durant,1995-07-11,55.0,"Action,Adventure,Science Fiction,Thriller,Horror",English,116000000.0,4.756613e+08,3.596613e+08,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [3]:
#Create copies of the data frame for each category we want to sum up
revenue_copy = movie_data_df.copy()
profit_copy = movie_data_df.copy()
score_copy = movie_data_df.copy()

In [4]:
#Retrieve the column headers to build the list of genres

column_headers = revenue_copy.columns

print(column_headers)

Index(['Name', 'Date', 'Score', 'Genre', 'Language', 'Budget', 'Revenue',
       'Profit', 'History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie'],
      dtype='object')

In [5]:
revenue_data = revenue_copy[['Revenue',
       'History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']]

revenue_data

,Revenue,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,6.223136e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.715399e+08,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3.267097e+08,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.728790e+07,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2.923706e+09,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,4.015902e+07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,9.353729e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4772,6.698361e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4773,2.299799e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4774,4.756613e+08,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Define the columns to search for the value 1
columns_to_search = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']

# Specify the column from which to replace the value
replacement_column = 'Revenue'

# Iterate over the rows and columns to find and replace the value
for index, row in revenue_data.iterrows():
    for col in columns_to_search:
        if row[col] == 1:
            revenue_data.at[index, col] = row[replacement_column]
            
revenue_data

,Revenue,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,6.223136e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,622313635.0,0.0
1,1.715399e+08,0.0,0.0,0.0,171539887.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,171539887.0,1.715399e+08,0.0,0.0,0.0,0.0,0.0
2,3.267097e+08,0.0,0.0,0.0,326709727.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,326709727.0,3.267097e+08,0.0,0.0,0.0,0.0,0.0
3,1.728790e+07,0.0,0.0,0.0,17287898.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,17287898.0,0.0
4,2.923706e+09,0.0,0.0,0.0,0.0,0.0,0.0,2.923706e+09,0.0,2.923706e+09,0.0,0.0,2.923706e+09,0.0,2.923706e+09,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,4.015902e+07,0.0,0.0,0.0,0.0,0.0,40159017.0,0.000000e+00,0.0,0.000000e+00,0.0,40159017.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
4771,9.353729e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,9353729.0,0.0
4772,6.698361e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,6.698361e+06,0.0,0.0,0.0,0.0,0.0
4773,2.299799e+07,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,22997992.0,0.000000e+00,22997992.0,0.000000e+00,0.0,0.0,0.0,22997992.0,0.0
4774,4.756613e+08,0.0,0.0,475661306.0,0.0,0.0,0.0,4.756613e+08,0.0,4.756613e+08,0.0,0.0,0.000000e+00,475661306.0,4.756613e+08,0.0,0.0,0.0,0.0,0.0

In [7]:
# Define an empty list to hold the sums
sums = []

# Calculate the sum of each column
for col in revenue_data.columns:
    col_sum = revenue_data [col].sum()
    sums.append(col_sum)

# Create a new DataFrame with the sums
revenue_sums = pd.DataFrame([sums], columns=revenue_data .columns)

# Display the new DataFrame with the sums
revenue_sums

,Revenue,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,9.963100e+11,3.312924e+10,2.322517e+11,1.272162e+11,8.583541e+10,3.897118e+10,3.130759e+11,3.161793e+11,2.568804e+11,1.858062e+11,3.103042e+10,1.008204e+11,1.895373e+11,2.202165e+11,3.400810e+11,2.282634e+10,9.132289e+10,7.923842e+09,2.614988e+11,5.970869e+10

In [8]:
profit_data = profit_copy[['Profit',
       'History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']]

profit_data

,Profit,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,5.973136e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.315399e+08,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2.717097e+08,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,7.287898e+06,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2.686706e+09,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,-2.184098e+07,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,2.353729e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4772,-2.447457e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4773,1.197992e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4774,3.596613e+08,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Define the columns to search for the value 1
columns_to_search = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']

# Specify the column from which to replace the value
replacement_column = 'Profit'

# Iterate over the rows and columns to find and replace the value
for index, row in profit_data.iterrows():
    for col in columns_to_search:
        if row[col] == 1:
            profit_data.at[index, col] = row[replacement_column]
            
profit_data

,Profit,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,5.973136e+08,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,597313635.0,0.0
1,1.315399e+08,0.0,0.0,0.0,131539887.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,131539887.0,1.315399e+08,0.0,0.0,0.0,0.0,0.0
2,2.717097e+08,0.0,0.0,0.0,271709727.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,271709727.0,2.717097e+08,0.0,0.0,0.0,0.0,0.0
3,7.287898e+06,0.0,0.0,0.0,7287898.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,7287898.0,0.0
4,2.686706e+09,0.0,0.0,0.0,0.0,0.0,0.0,2.686706e+09,0.0,2.686706e+09,0.0,0.0,2.686706e+09,0.0,2.686706e+09,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,-2.184098e+07,0.0,0.0,0.0,0.0,0.0,-21840983.0,0.000000e+00,0.0,0.000000e+00,0.0,-21840983.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0
4771,2.353729e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.0,2353729.0,0.0
4772,-2.447457e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0,0.000000e+00,0.0,-2.447457e+06,0.0,0.0,0.0,0.0,0.0
4773,1.197992e+06,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,1197992.0,0.000000e+00,1197992.0,0.000000e+00,0.0,0.0,0.0,1197992.0,0.0
4774,3.596613e+08,0.0,0.0,359661306.0,0.0,0.0,0.0,3.596613e+08,0.0,3.596613e+08,0.0,0.0,0.000000e+00,359661306.0,3.596613e+08,0.0,0.0,0.0,0.0,0.0

In [10]:
# Define an empty list to hold the sums
sums = []

# Calculate the sum of each column
for col in profit_data .columns:
    col_sum = profit_data  [col].sum()
    sums.append(col_sum)

# Create a new DataFrame with the sums
profit_sums = pd.DataFrame([sums], columns=profit_data  .columns)

# Display the new DataFrame with the sums
profit_sums

,Profit,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,7.266123e+11,2.251367e+10,1.764788e+11,9.613724e+10,5.761569e+10,3.186798e+10,2.280369e+11,2.282650e+11,1.897351e+11,1.351672e+11,2.369272e+10,7.275706e+10,1.382828e+11,1.545318e+11,2.395990e+11,1.499943e+10,6.648077e+10,5.054203e+09,1.850809e+11,4.736405e+10

In [11]:
score_data = score_copy[['Score',
       'History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']]

score_data

,Score,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,73.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,74.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,78.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,76.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,42.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4772,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4773,61.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4774,55.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# Define the columns to search for the value 1
columns_to_search = ['History', 'Animation', 'Horror', 'Crime', 'Documentary',
       'Comedy', 'Adventure', 'Family', 'Science Fiction', 'Music', 'Romance',
       'Fantasy', 'Thriller', 'Action', 'War', 'Mystery', 'Western', 'Drama',
       'TV Movie']

# Specify the column from which to replace the value
replacement_column = 'Score'

# Iterate over the rows and columns to find and replace the value
for index, row in score_data.iterrows():
    for col in columns_to_search:
        if row[col] == 1:
            score_data.at[index, col] = row[replacement_column]
            
score_data

,Score,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0,0.0
1,73.0,0.0,0.0,0.0,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0,73.0,0.0,0.0,0.0,0.0,0.0
2,74.0,0.0,0.0,0.0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0,74.0,0.0,0.0,0.0,0.0,0.0
3,78.0,0.0,0.0,0.0,78.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,0.0
4,76.0,0.0,0.0,0.0,0.0,0.0,0.0,76.0,0.0,76.0,0.0,0.0,76.0,0.0,76.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4770,42.0,0.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4771,73.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73.0,0.0
4772,54.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,0.0
4773,61.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61.0,0.0,61.0,0.0,0.0,0.0,0.0,61.0,0.0
4774,55.0,0.0,0.0,55.0,0.0,0.0,0.0,55.0,0.0,55.0,0.0,0.0,0.0,55.0,55.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Define an empty list to hold the sums
sums = []

# Calculate the sum of each column
for col in score_data .columns:
    col_sum = score_data  [col].sum()
    sums.append(col_sum)

# Create a new DataFrame with the sums
score_sums = pd.DataFrame([sums], columns=score_data  .columns)

# Display the new DataFrame with the sums
score_sums

,Score,History,Animation,Horror,Crime,Documentary,Comedy,Adventure,Family,Science Fiction,Music,Romance,Fantasy,Thriller,Action,War,Mystery,Western,Drama,TV Movie
0,305531.0,13403.0,41211.0,43359.0,44067.0,5878.0,100319.0,63152.0,53880.0,41501.0,9886.0,44296.0,39431.0,85698.0,85813.0,8526.0,29813.0,3414.0,116541.0,8061.0