In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Wrangled_df.csv",index_col = "Movie ID")
df.head()

,Name,Year,Score,Genre,Budget,Revenue,Language,Profit
Movie ID,,,,,,,,
0,the passion of the christ,2004,74.0,Drama,25000000.0,6.223136e+08,English,5.973136e+08
1,john wick: chapter 2,2017,73.0,"Action, Thriller, Crime",40000000.0,1.715399e+08,English,1.315399e+08
2,john wick: chapter 3 - parabellum,2019,74.0,"Action, Thriller, Crime",55000000.0,3.267097e+08,English,2.717097e+08
3,a bronx tale,1994,78.0,"Drama, Crime",10000000.0,1.728790e+07,English,7.287898e+06
4,avatar,2009,76.0,"Action, Adventure, Fantasy, Science Fiction",237000000.0,2.923706e+09,English,2.686706e+09

In [4]:
# Initialize an empty set to store all unique genres
unique_genres = set()

# Iterate over the DataFrame rows
for index, row in df.iterrows():
    # Split the 'Genre' column by commas and add each genre to the set
    movie_genres = [genre.strip() for genre in row['Genre'].split(',')]
    unique_genres.update(movie_genres)

# Convert the set of unique genres to a list
unique_genres = list(unique_genres)

# Iterate over the DataFrame rows again to create genre columns
for index, row in df.iterrows():
    # Split the 'Genre' column by commas and create a dictionary to store genre values
    movie_genres = {genre: 1 if genre.strip() in row['Genre'] else 0 for genre in unique_genres}
    
    # Update the DataFrame row with genre values
    for genre, value in movie_genres.items():
        df.at[index, genre] = value

# Print the updated DataFrame
df.head(15)

,Name,Year,Score,Genre,Budget,Revenue,Language,Profit,Thriller,Documentary,...,War,Horror,Drama,Crime,Fantasy,Animation,Music,Science Fiction,Comedy,TV Movie
Movie ID,,,,,,,,,,,,,,,,,,,,,
0,the passion of the christ,2004,74.0,Drama,25000000.0,6.223136e+08,English,5.973136e+08,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,john wick: chapter 2,2017,73.0,"Action, Thriller, Crime",40000000.0,1.715399e+08,English,1.315399e+08,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,john wick: chapter 3 - parabellum,2019,74.0,"Action, Thriller, Crime",55000000.0,3.267097e+08,English,2.717097e+08,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,a bronx tale,1994,78.0,"Drama, Crime",10000000.0,1.728790e+07,English,7.287898e+06,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,avatar,2009,76.0,"Action, Adventure, Fantasy, Science Fiction",237000000.0,2.923706e+09,English,2.686706e+09,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
5,john wick,2014,74.0,"Action, Thriller",30000000.0,7.595880e+07,English,4.595880e+07,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,super mario bros.,1993,43.0,"Action, Adventure, Comedy, Family, Science Fic...",42000000.0,2.084491e+07,English,-2.115509e+07,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
7,shazam!,2019,70.0,"Action, Comedy, Fantasy",85000000.0,3.635639e+08,English,2.785639e+08,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
8,avengers: infinity war,2018,83.0,"Adventure, Action, Science Fiction",300000000.0,2.048360e+09,English,1.748360e+09,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,creed ii,2018,70.0,Drama,50000000.0,2.135915e+08,English,1.635915e+08,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,creed,2015,74.0,Drama,37000000.0,1.735676e+08,English,1.365676e+08,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,hacksaw ridge,2016,82.0,"Drama, History, War",40000000.0,1.690239e+08,English,1.290239e+08,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,life in a year,2020,83.0,"Drama, Romance",90000000.0,6.278511e+08,English,5.378511e+08,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,"the chronicles of narnia: the lion, the witch ...",2005,71.0,"Adventure, Family, Fantasy",180000000.0,7.450131e+08,English,5.650131e+08,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
14,shrek,2001,77.0,"Animation, Comedy, Fantasy, Adventure, Family",50000000.0,4.918128e+08,English,4.418128e+08,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0